---
layout: page
title: Static Site Components
page_sections:
  - slug: header
    bg_color: light
    alignment: pinned
    content_blocks:
      - _bookshop_name: header
        logo:
          image: /assets/logo.svg
          alt: 'Pizza logo'
        links:
          - title: TOML
            href: '#toml-anatomy'
          - title: Usage
            href: '#usage'
          - title: Deep Dive
            href: '#links'
      - _bookshop_name: header
        title: Static Site Components
        bg: true
---

<div class="l-page">
{% for section in page.page_sections %}
  <div id="{{section.slug}}" class="l-section l-section--{{section.bg_color}} l-section--{{section.alignment}}">
    <div class="l-section__inner">
    {% for block in section.content_blocks %}
      <div class="l-component">
      	{% bookshop {{block._bookshop_name}} bind=block %}
      </div>
    {% endfor %}
    </div>
  </div>
{% endfor %}
</div>