---
layout: page
title: Static Site Componens
page_sections:
  - slug: header
    bg_color: light
    alignment: pinned
    content_blocks:
      - _bookshop_name: header
        logo:
          image: /assets/logo.svg
          alt: Pizza logo
      - _bookshop_name: calculator
        main-img:
          image: /assets/pizza_bottom.svg
          alt: pizza on a board
        heading:
          text: Static Site Components
        calc-var:
          heading: Pizza Calculator
          inputbox: 3
          type: number
          min: 0
          max: 10
          value: 1
          class: num-pizza
        calc-h2o:
          heading: Pizza Calculator
          inputbox: 3
          type: number
          min: 50
          max: 70
          value: 55
          class: num-pizza
      - _bookshop_name: recipe
        incredients:
          - name: flour
            measure-unit: g
          - name: water
            measure-unit: ml
          - name: yeast
            measure-unit: g
  - slug:
    bg_color: white
    alignment: center
    content_blocks:
      - _bookshop_name: recipe
        incredients:
          - name: flour
            measure-unit: g
          - name: water
            measure-unit: ml
          - name: yeast
            measure-unit: g
---

<div class="l-page">
{% for section in page.page_sections %}
  <div id="{{section.slug}}" class="l-section l-section--{{section.bg_color}} l-section--{{section.alignment}}">
    <div class="l-section__inner">
    {% for block in section.content_blocks %}
      <div class="l-component">
      	{% bookshop {{block._bookshop_name}} bind=block %}
      </div>
    {% endfor %}
    </div>
  </div>
{% endfor %}
</div>
